/HTSeq-0.6.1/
/htseq_cds_noStrand_union.txt
/htseq_exon_noStrand_union.txt
/htseq_gene_noStrand_inters-nempty.txt
/htseq_gene_noStrand_inters-strict.txt
/htseq_gene_noStrand_union.txt
/htseq_gene_yesStrand_union.txt
/htseq_gene_yesStrand_union_short.txt
/htseq_gene_yesStrand_nempty.txt
/htseq_gene_yesStrand_nempty_very_short.txt
/htseq_gene_yesStrand_union_very_short.txt
/htseq_gene_noStrand_inters-nempty_diff.txt
/htseq_gene_noStrand_nempty_very_short.txt
