/.cabal-sandbox/
/.stack-work/
/cabal.sandbox.config
/dist/
/samtools-1.4/
/samtools-1.4.tar.bz2
/bwa-0.7.15/
*.o
*.hi
*.pyc
Html/fonts/
Html/htmllibs/
ngless-locks/
ngless-partials/
*.output_ngless/
/testing_tmp_dir/
/Modules/packages/

# Generated as part of build
NGLess/Dependencies/bwa_data.c
NGLess/Dependencies/samtools_data.c
/NGLess.cabal
