/.cabal-sandbox/
/.stack-work/
/.stack-work-test/
/cabal.sandbox.config
/dist/
/docker/
/samtools-1.6/
/bwa-0.7.15/
/bwa-0.7.17/
/megahit-1.1.4/
/Prodigal-2.6.3/
/minimap2-2.16/
/*.tar.bz2
/*.tar.gz
/build-scripts/docker_bases/*.log

*.o
*.hi
*.pyc
Html/fonts/
Html/htmllibs/
ngless-locks/
ngless-partials/
*.output_ngless/
/testing_tmp_dir/
/Modules/packages/

# Generated as part of build
NGLess/Dependencies/bwa_data.c
NGLess/Dependencies/samtools_data.c
NGLess/Dependencies/prodigal_data.c
NGLess/Dependencies/megahit_data.c
NGLess/Dependencies/minimap2_data.c
NGLess/Dependencies/Versions.hs
NGLess.cabal
stack.yaml.lock
