body {
  font: 10px sans-serif;
}

#svgMain {
  display:block;
  margin-left:auto;
  margin-right: auto;
}

.table {
  margin-left:auto;
  margin-right: auto;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
  opacity: 0.7;
}

.x.axis line {
  stroke: lightgrey;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
