
#table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  width: 30%;
}

}

body {
  overflow-y:scroll;
  margin: 0;
  padding: 0;
}

svg {
  overflow: hidden;
}

div {
  border: 0;
  margin: 0;
}


#offsetDiv {
  margin-left: 100px;
  margin-top: 100px;
  margin-right: 100px;
}


.nv-legendWrap {
  margin-bottom: 300px;
}

#test1 {
  margin: 0;
}

#test1 svg {
  height: 500px;
}

