<div class="form-group">
	<label>Choose features to filter the counts </label>
	<ul ng-repeat="(c,enabled) in counts">
	  <input type="checkbox" data-ng-init="formData.count.counts=counts" ng-click="formData.count.counts=counts" ng-model="counts[c]" /> {{c}} 
	</ul>
</div>

<div class="form-group">
	<label>What's minimal count amount? </label>
	<input type="number" name="input" ng-model="formData.count.min" min="0" required>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.write" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>