<h2> Pre-process a data set. </h2>

<p> In this section can be created instructions to filter the data set. </p>

<div class="form-group">
  <h3> Left trim </h3>
  <p> How any positions do you wish to remove from the start? </p>
  <input type="number" name="input" ng-model="formData.preprocess.left" min="0" required>
</div>

<div class="form-group">
  <h3> Right trim </h3>
  <p> How any positions do you wish to remove from the end? </p>
  <input type="number" name="input" ng-model="formData.preprocess.right" min="0" required>
</div>

<div class="form-group">
  <h3> Substrim </h3>
  <p> How low is the value for the substirm? </p>
  <input type="number" name="input" ng-model="formData.preprocess.subs" min="0" required>
</div>

<div class="form-group">
  <h3> If-Discard </h3>
  <p> Here is possible to generate a instruction to discard a read if the length is smaller than a given trashold. What's the value of the trashold? </p>
  <input type="number" name="input" ng-model="formData.preprocess.disc" min="0" required>
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.unique" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>

1. corte posicao x a posicao y
2. substrim
3. if-length menor q trashold -> discard.
