<h2> Counts </h2>

<p>Counting generates aggregated tables from your annotated reads</p>

<div class="form-group">
	<h3>Features to filter</h3>
    <p> Choose between the possible genomic features the ones you're interested in for the result of the counts. </p>
	<ul ng-repeat="(c,enabled) in counts">
	  <input type="checkbox" data-ng-init="formData.count.counts=counts" ng-click="formData.count.counts=counts" ng-model="counts[c]" /> {{c}} 
	</ul>
</div>

<div class="form-group">
	<h3> Minimum value </h3>
	<p> What's minimal count amount that you are interested to see? Leave at zero to keep all features in.</p>
	<input type="number" name="input" ng-model="formData.count.min" min="0" required>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.write" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
