<h2>Load Data Set</h2>
<p> Let's start by adding your data sets.</p>

<label>What are your FastQ file names?</label>
<div class="form-group">
    <ul>
        <li ng-repeat="f in formData.files">
          Name: <input ng-model="f.name">
          [<a href ng-click="formData.files.splice($index, 1)">X</a>]
        </li>
        <li>
            <a ng-click="insertFiles()"> Add file</a>
        </li>
    </ul>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <div id="next" style="visibility: hidden">
        <a ui-sref="form.preprocess" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
</div>
