<h2> Annotate </h2>

<p>This section allows to define the parameters to annotate a given data set.</p>

<div class="form-group">
    <h3 >GFF</h3>
    <p> Provide a valid filepath to a gff. If a default reference was used in the map, this field can be left blank. </p>
	<input type="text" name="input" ng-model="formData.annotate.gff" required>
</div>

<div class="form-group">
	<h3>Features to filter</h3>
    <p> Choose between the possible genomic features the ones you're interested in. </p>
	<ul ng-repeat="(c,enabled) in features">
	  <input type="checkbox" data-ng-init="formData.annotate.features=features" ng-click="formData.annotate.features=features" ng-model="features[c]" /> {{c}} 
	</ul>
</div>

<div class="form-group">
    <h3>Mode of annotation</h3>
    <p> Choose the mode of annotation that is most suitable for you data set. </p>
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.annotate.mode" value="union" checked>
           union
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.annotate.mode" value="intersection-strict">
            intersection_strict
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.annotate.mode" value="intersection_non_empty">
            intersection_non_empty
        </label>
    </div>
</div>


<div class="form-group">
    <h3>Allow ambiguity</h3>
    <p> Choose wether you allow a given read to have more than one associated feature.  </p>
    <div class="radio">
        <label><input type="radio" ng-model="formData.annotate.ambiguity" value="allow" checked>allow</label>
    </div>
    <div class="radio">
        <label><input type="radio" ng-model="formData.annotate.ambiguity" value="deny">deny</label>
    </div>
</div>


<div class="form-group">
    <h3> Strand Specificity </h3>
    <p> The genomic feature must have the same strand as the strand of the alignment? </p>
    <div class="radio">
        <label><input type="radio" ng-model="formData.annotate.strand" value="yes" checked>yes</label>
    </div>
    <div class="radio">
        <label><input type="radio" ng-model="formData.annotate.strand" value="no">no</label>
    </div>
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.count" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
