<h2> Pre-process a data set. </h2>

<p>Define read trim and filter parameters</p>

<div class="form-group">
  <h3>Left trim (hard trim)</h3>
  <p> How any bases do you wish to remove from the start (5' end)? </p>
  <input type="number" name="input" ng-model="formData.preprocess.left" min="0" required>
</div>

<div class="form-group">
  <h3> Right trim (hard trim)</h3>
  <p> How any positions do you wish to remove from the end (3' end)? </p>
  <input type="number" name="input" ng-model="formData.preprocess.right" min="0" required>
</div>

<div class="form-group">
  <h3> Substrim (dynamic trimming based on quality)</h3>
  <p>Minimal quality of bases to trim </p>
  <input type="number" name="input" ng-model="formData.preprocess.subs" min="0" required>
</div>

<div class="form-group">
  <h3>Minimal length (after trimming)</h3>
  <p>Reads shorter than this length will be discarded</p>
  <input type="number" name="input" ng-model="formData.preprocess.disc" min="0" required>
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.unique" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
