<!DOCTYPE html>
<html lang="en">
    <script src="htmllibs/angular.min.js"></script>
    <script src="htmllibs/angular-sanitize.js"></script>
    <link href="htmllibs/bootstrap.min.css" rel="stylesheet">
    <link href="htmllibs/bootstrap-glyphicons.css" rel="stylesheet">

    <link href="ngless.css" rel="stylesheet">
    <title>Ngless</title>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="nglessQC.html">FastQ Quality Control</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div class="bs-docs-header" id="content">
            <div class="container">
                <h1>NGLess Log</h1>
            </div>
        </div>
        <div ng-app="myApp" ng-controller="NGlessCtrl">
            <p>Result of running script file <tt>{{output.processed.name}}</tt> at <em>{{output.processed.time}}</em>.</p>
            <div class="container">
                <div class="panel-body">
                    <h2>Script</h2>
                    <div ng-repeat="line in output.processed.script" style="position: relative">
                        <p style="white-space: pre-wrap"><span ng-if="line[0] && line[0].info_type == 'has_QCInfo'" style="position: absolute; left: -4em"><a href="nglessQC.html#{{line[0].lno}}">QC</a> </span><span ng-if="line[0] && line[0].info_type == 'has_StatsInfo'" style="position: absolute; left: -4em"><a href="nglessMapStats.html#{{line[0].lno}}">Stats</a> </span> {{line[1]}}</p>
                    </div>
                </div>
            </div>
            <div class="container">

                <h3>NGLess Output</h3>
                <style>
                .output-info { color: #000000;}
                .output-debug { color: #336633;}
                .output-result { color: #663333;}
                </style>
                <p><a ng-show="!showtime" ng-click="showtime = !showtime;">Show timestamp</a><a ng-show="showtime" ng-click="showtime = !showtime;">Hide timestamp</a>.

                <p>
                <div ng-repeat="oline in output.output">
                    <span class="output-{{oline.otype}}"><strong>Line {{oline.lno}}</strong><span ng-show="showtime"> [{{oline.time}}]</span>: {{oline.message}}</span><br />
                </div>
            </div>
        </div><!-- /.container -->


        <footer id="footer">
            <div class="container">
                <p>Happily designed by <a href="https://github.com/ngless-toolkit">Luis Pedro Coelho</a> and <a href="https://github.com/montoias">Paulo Monteiro</a>.</p>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="htmllibs/jquery-latest.min.js"></script>
            <script src="htmllibs/bootstrap.min.js"></script>
            <script src="output.js"></script>

            <!-- Angular Script to load different URLs -->
            <script>
var app = angular.module('myApp', ['ngSanitize']);

app.factory('NGLessOutput', function() {
    return output;
});

function NGlessCtrl($scope, $sce, NGLessOutput){
    $scope.output = output;
}

            </script>

    </body>
</html>
